*.md
!CHANGELOG.md
!README.md
!/lib
.bowerrc
.editorconfig
.github
.markdownlint.yaml
.npmrc
.travis.yml
.vscode
/docs
/e2e
/spec
/src
/test
/tests
CODEOWNERS
logs
mocha.opts
package-lock.json
sonar-project.properties
tsconfig.json
tslint.json
typedoc.json
yarn.lock
